<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hourse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,180}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourse3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hourse4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,180}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HourseRun.png</string>
            <key>size</key>
            <string>{640,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:963345dc22d5c57f8511a713f44e94f2:d557e42b777bf16b1aa21817dcc142e9:8cd9e051b510b04247b5627ecf05431d$</string>
            <key>textureFileName</key>
            <string>HourseRun.png</string>
        </dict>
    </dict>
</plist>
